
@font-face {
		font-family: "Indie Flower" cursive;
		src: url("project03/IndieFlower.ttf")
}
@font-face {
		font-family: "ShadowsIntoLightTwo" Regular;
		src: url("project03/ShadowsIntoLightTwo-Regular.ttf")
}
html {
		padding-top:25px;
		background-color: rgba(178,102,101,.8);

}
/* start of new stuff*/

.csstransforms .cn-wrapper {
	  font-size:1em;
	  width: 26em;
	  height: 26em;
	  overflow: hidden;
	  position: fixed;
	  z-index: 10;
	  bottom: -13em;
	  left: 50%;
	  border-radius: 50%;
	  margin-left: -13em;
	  transform: scale(0.1);
	  transition: all .3s ease;
}
/* class applied to the container via JavaScript that will scale the navigation up */
.csstransforms .opened-nav {
	  border-radius: 50%;
	  transform: scale(1);
}

.cn-button {
	  border:none;
	  background:none;
	  color: white;
	  text-align: Center;
	  font-size: 1.5em;
	  padding-bottom: 1em;
	  height: 3.5em;
	  width: 3.5em;
	  background-color: #111;
	  position: fixed;
	  left: 50%;
	  margin-left: -1.75em;
	  bottom: -1.75em;
	  border-radius: 50%;
	  cursor: pointer;
	  z-index: 11
}
.cn-button:hover,
.cn-button:active,
.cn-button:focus{
	background-color: #222;
}

.cn-overlay{
	  width:100%;
	  height:100%;
	  background-color: rgba(0,0,0,0.6);
	  position:fixed;
	  top:0;
	  left:0;
	  bottom:0;
	  right:0;
	  opacity:0;
	  transition: all .3s ease;
	  z-index:2;
	  pointer-events:none;
}

/* Class added to the overlay via JavaScript to show it when navigation is open */
.cn-overlay.on-overlay{
	  pointer-events:auto;
	  opacity:1;
}

.csstransforms .cn-wrapper li {
  position: absolute;
  font-size: 1.5em;
  width: 10em;
  height: 10em;
  transform-origin: 100% 100%;
  overflow: hidden;
  left: 50%;
  top: 50%;
  margin-top: -1.3em;
  margin-left: -10em;
  transition: border .3s ease;
}

.csstransforms .cn-wrapper li a {
  display: block;
  font-size: 1.18em;
  height: 14.5em;
  width: 14.5em;
  position: absolute;
  bottom: -7.25em;
  right: -7.25em;
  border-radius: 50%;
  text-decoration: none;
  color: #fff;
  padding-top: 1.8em;
  text-align: center;
  transform: skew(-50deg) rotate(-70deg) scale(1);
  transition: opacity 0.3s, color 0.3s;
}

.csstransforms .cn-wrapper li a span {
  font-size: 1.1em;
  opacity: 0.7;
}
/* for a central angle x, the list items must be skewed by 90-x degrees
in our case x=40deg so skew angle is 50deg
items should be rotated by x, minus (sum of angles - 180)2s (for this demo) */

.csstransforms .cn-wrapper li:first-child {
  transform: rotate(-10deg) skew(50deg);
}

.csstransforms .cn-wrapper li:nth-child(2) {
  transform: rotate(30deg) skew(50deg);
}

.csstransforms .cn-wrapper li:nth-child(3) {
  transform: rotate(70deg) skew(50deg)
}

.csstransforms .cn-wrapper li:nth-child(4) {
  transform: rotate(110deg) skew(50deg);
}

.csstransforms .cn-wrapper li:nth-child(5) {
  transform: rotate(150deg) skew(50deg);
}

.csstransforms .cn-wrapper li:nth-child(odd) a {
  background-color: #a11313;
  background-color: hsla(0, 88%, 63%, 1);
}

.csstransforms .cn-wrapper li:nth-child(even) a {
  background-color: #a61414;
  background-color: hsla(0, 88%, 65%, 1);
}

/* active style */
.csstransforms .cn-wrapper li.active a {
  background-color: #b31515;
  background-color: hsla(0, 88%, 70%, 1);
}

/* hover style */
.csstransforms .cn-wrapper li:not(.active) a:hover,
.csstransforms .cn-wrapper li:not(.active) a:active,
.csstransforms .cn-wrapper li:not(.active) a:focus {
  background-color: #b31515;
  background-color: hsla(0, 88%, 70%, 1);
}
.csstransforms .cn-wrapper li:not(.active) a:focus {
  position: fixed; /* fix the "displacement" bug in webkit browsers when using tab key */
}

.no-csstransforms .cn-wrapper{
  font-size:1em;
  height:5em;
  width:25.15em;
  bottom:0;
  margin-left: -12.5em;
  overflow: hidden;
  position: fixed;
  z-index: 10;
  left:50%;
  border:1px solid #ddd;
}

.no-csstransforms .cn-button{
  display:none;
}

.no-csstransforms .cn-wrapper li{
  position:static;
  float:left;
  font-size:1em;
  height:5em;
  width:5em;
  background-color: #eee;
  text-align:center;
  line-height:5em;
}

.no-csstransforms .cn-wrapper li a{
  display:block;
  width:100%;
  height:100%;
  text-decoration:none;
  color:inherit;
  font-size:1.3em;
  border-right: 1px solid #ddd;
}

.no-csstransforms .cn-wrapper li a:last-child{
  border:none;
}

.no-csstransforms .cn-wrapper li a:hover,
.no-csstransforms .cn-wrapper li a:active,
.no-csstransforms .cn-wrapper li a:focus{
  background-color: white;
}

.no-csstransforms .cn-wrapper li.active a {
  background-color: #6F325C;
  color: #fff;
}

@media screen and (max-width:480px){
  .csstransforms .cn-wrapper{
    font-size:.68em;
  }
  .cn-button{
    font-size:1em;
  }
  .csstransforms .cn-wrapper li {
    font-size:1.52em;
  }
}

@media screen and (max-width:320px){
  .no-csstransforms .cn-wrapper{
    width:15.15px;
    margin-left: -7.5em;
  }
  .no-csstransforms .cn-wrapper li{
    height:3em;
    width:3em;
  }
}

(function(){

  var button = document.getElementById('cn-button'),
    wrapper = document.getElementById('cn-wrapper'),
    overlay = document.getElementById('cn-overlay');

  //open and close menu when the button is clicked
  var open = false;
  button.addEventListener('click', handler, false);
  button.addEventListener('focus', handler, false);
  wrapper.addEventListener('click', cnhandle, false);

  function cnhandle(e){
    e.stopPropagation();
  }

  function handler(e){
    if (!e) var e = window.event;
    e.stopPropagation();//so that it doesn't trigger click event on document

      if(!open){
        openNav();
      }
    else{
        closeNav();
      }
  }
  function openNav(){
    open = true;
      button.innerHTML = "-";
      classie.add(overlay, 'on-overlay');
      classie.add(wrapper, 'opened-nav');
  }
  function closeNav(){
    open = false;
    button.innerHTML = "+";
    classie.remove(overlay, 'on-overlay');
    classie.remove(wrapper, 'opened-nav');
  }
  document.addEventListener('click', closeNav);

})();






/* end of new stuff*/

body{
		width:80%;
		padding:20px;
		margin: 0 auto;
		box-shadow: 10px 10px 10px rgba(0,0,0,.5);
		background-image: -webkit-linear-gradient(270deg,rgba(1,96,83,1.00) 0%,rgba(252,226,152,1.00) 100%);
		background-image: -moz-linear-gradient(270deg,rgba(1,96,83,1.00) 0%,rgba(252,226,152,1.00) 100%);
		background-image: -o-linear-gradient(270deg,rgba(1,96,83,1.00) 0%,rgba(252,226,152,1.00) 100%);
		background-image: linear-gradient(180deg,rgba(1,96,83,1.00) 0%,rgba(252,226,152,1.00) 100%);
		background-color: #614126;
		background-attachment: fixed;
		border-radius: 25px 25px 25px 25px;
	
}



nav { 
		background-color: rgba(0,0,0,.6); 
		position: relative; 
		padding: 10px 0px 0px 10px; 
		font-family: 'Indie Flower';
		font-size: 29px;
		letter-spacing: -2px;
}
nav ul { list-style: none; margin: 0; padding: 0; }



nav ul::after { content:''; display: block; clear: both; }
nav ul li:hover { background-color: rgba(0,102,102,.8); }
nav ul li:hover > ul { display: block; }

nav ul li a { display: inline-block; color: #FF8666; padding: 10px 20px; text-decoration: none; width: 125px; }
nav ul li a:hover { background-color: #339999; }


nav ul ul { display: none; position: absolute; top: 100%; background-color: rgba(0,102,102,.8); }
nav ul ul li { position: relative;}
nav ul ul ul { left:100%; top:0; }

/* top level */
nav > ul { padding-left: 35px; }
nav > ul > li { float: left; }
nav > ul > li > a { padding: 10px 20px 15px 20px; width: auto; }

@media screen and (max-width: 750px) {
		header a.logo { width: 120px; height: 44px; }
		article { width: 100%; float: none; margin-bottom: 40px; }
		article div { margin: 0px 40px; padding: 0px 0px 30px 0px; border-right: none; border-bottom: 1px solid #555; }
		aside { width: 100%; float: none; }
		
		nav { padding: 70px 0px 0px 10px;}
		nav > ul { padding-left: 0px; padding-right: 20px;}
		nav > ul > li > a { padding: 8px 12px 10px 12px; }
}

.logo1 {
		float: right;
		box-shadow: 10px 10px;
		border-radius: 25px 25px 25px 25px;
		-webkit-transition: all 2s ease;
		-moz-transition: all 2s ease;
		-o-transition: all 2s ease;
		transition: all 2s ease;
		
}
.logo1:hover{
		-webkit-transform: rotateY(360deg);
		-moz-transform: rotateY(360deg);
		-o-transform: rotateY(360deg);
		transform: rotateY(360deg);
}
.logo2 {
		float:left;
		box-shadow: -10px -10px;
		border-radius: 25px 25px 25px 25px;
		-webkit-transition: all 2s ease;
		-moz-transition: all 2s ease;
		-o-transition: all 2s ease;
		transition: all 2s ease;
		
}
.logo2:hover{
		-webkit-transform: rotateY(360deg);
		-moz-transform: rotateY(360deg);
		-o-transform: rotateY(360deg);
		transform: rotateY(360deg);
}


h1 {
		text-align: center;
		/*color: rgb(255,193,124);
		text-shadow: 4px 3px 6px rgba(0,0,0,.5);*/
		color: orange;
		text-shadow: 1px 1px 2px black, 0 0 25px yellow, 0 0 5px orange;
		font-size: 69px;
		font-family: 'Indie Flower';
		padding-bottom: 24px;
}

h2 { 
		font-family: 'Indie Flower';
		font-size: 43px;
		text-shadow: 2px 2px brown;
		
}
h3 a {
		font-size: 0.8em;
		color: rgb(116,78,147);
}
video 	{ max-width: 100%;}

.summary{
		float:right;
}
.mainStory {
		
		font-size: 25px;
		background-color: rgba(176,196,157,.4);
		margin: 10px;
		color: rgb(63, 64, 84);
		border: .2em ridge rgb(255,255,0);
		border-radius: 25px 25px 25px 25px;
		text-align: center;
		padding: 0 20px;
		text-shadow: 1px 1px 1px rgba(0,0,0,.5);
}


.legalStuff {
		
		font-size: 18px;
		background-color: rgba(176,196,157,.4);
		margin: 10px;
		color: rgb(63, 64, 84);
		border: .2em ridge rgb(255,255,0);
		text-align: center;
		border-radius: 25px 25px 25px 25px;
		padding: 0 20px;
		text-shadow: 1px 1px 1px rgba(0,0,0,.5);
}

.stepOne:first-line, .stepTwo:first-line, .stepThree:first-line, .stepFour:first-line, .stepFive:first-line, .stepSix:first-line {
		text-transform: uppercase;
}

.stepOne, .stepTwo, .stepThree, .stepFour, .stepFive, .stepSix {

		list-style: decimal;
}
.mainPage {
		color: #67a;
		font-size: 1.5em;
		font-weight: bold;
		margin: 2em 0 1em 0;
		color: rgb(178,102,101);
		border: .2em ridge rgb(178,102,101);
		padding: 0 20px;
		border-radius: 25px 25px 25px 25px;
		
}


li[itemprop="ingredients"] {
		list-style-type: square;
	
}

.outsideLinks {
		display: inline;
		
}

.recipeConverter{
		font-size: 1em;
		margin: 2em 0 1em 0;
		color: rgb(205,195,50);
		border: rgb(255,255,0);
		padding: 0 20px;
		border-radius: 25px 25px;
		text-align: center;
		box-shadow: -10px -10px;
}
.aboutUs {
		font-size: 14px;
		font-weight: bold;
		margin: 1em 0 2em 0;
		color: rgb(79,98,83);
		text-align: center;
		padding: 30px 0pc;
		border-radius: 25px 25px 25px 25px;
		-webkit-transition: font-size .5s ease;
		-moz-transition: font-size .5s ease;
		-o-transition: font-size .5s ease;
		transition: font-size .5s ease;
}
.aboutUs:hover {
		font-size: 30px;
}
.ingredients {
		
		font-size: 14px;
		font-weight: bold;
		margin: 2em 2em 2em 2em;
		color: rgb(79,98,83);
		border: .2em ridge rgb(255,129,0);
		text-align: left;
		float:right;
		padding: 5px 10px;
}
.directions {
		background-color: rgb(176,196,157);
		font-size: 14px;
		margin: 2em 2em 2em 2em;
		color: rgb(79,98,83);
		padding: 40px 30px 40px 15px;
}
.us {
		font-family: 'Shadows Into Light Two';
		font-size: 25px;
		background-color: rgb(176,196,157);
		margin: .5em 2em 2em 2em;
		padding: 5px 10px 10px 10px;
		color: rgb(79,98,83);
		border-radius: 25px 25px 25px 25px;
}
fieldset {
		border: 0.2em ridge rgb(255,129,0);
		margin: 0 0 10px 0;
}

textarea {
		background-color: rgb(178,102,101);
}
.resource li {
		list-style: none;
}
.resource {
		margin: .5em 2em 2em 2em;
		padding: 5px 10px 10px 10px;
		background-color:rgba(178,102,101,.8);
		-webkit-transition: background-color .75s ease;
		-moz-transition: background-color .75s ease;
		-o-transition: background-color .75s ease;
		transition: background-color .75s ease;
}

.resource a:hover {
	background-color: rgba(250, 219, 43,.9);
}

input[type="text"], input[type="email"], input[type="date"], input[type="tel"], input[type="color"], input[type="url"], textarea, select {
		border: none;
		background-color: rgb(249,228,130);
		width:318px;
		padding: .5em;
		font-size: 1em;
		-webkit-transition: background-color .75s ease;
		-moz-transition: background-color .75s ease;
		-o-transition: background-color .75s ease;
		transition: background-color .75s ease;
}

textarea {
	height:128px;
}

input:focus, textarea:focus {
		border:2px solid rgb(168,88,163);
		background-color: rgba(168,88,163,1);
		color: #fff;
}

.applepic, .pumpkinpic, .cherrypic {
		margin: 20px;
		width: 200px;
		height:200px;
		-webkit-transition: all .5s ease;
		-moz-transition: all .5s ease;
		-o-transition: all .5s ease;
		transition: all .5s ease;
}

.applepic:hover, .pumpkinpic:hover, .cherrypic:hover {
		-webkit-transform: scale(1.5);
		-moz-transform: scale(1.5);
		-ms-transform: scale(1.5);
		-o-transform: scale(1.5);
		transform: scale(1.5);
		-webkit-box-shadow: 3px 3px 5px #000;
		-moz-box-shadow: 3px 3px 5px #000;
		box-shadow: 3px 3px 5px #000;
}

input[type="submit"], input[type="reset"] {
		margin: 5px;
		width: 175px;
		height:50px;
		-webkit-transition: all .5s ease;
		-moz-transition: all .5s ease;
		-o-transition: all .5s ease;
		transition: all .5s ease;
	
}

input[type="submit"]:hover, input[type="image"]:hover, input[type="reset"]:hover {
		-webkit-transform: scale(1.5);
		-moz-transform: scale(1.5);
		-ms-transform: scale(1.5);
		-o-transform: scale(1.5);
		transform: scale(1.5);
		-webkit-box-shadow: 3px 3px 5px #000;
		-moz-box-shadow: 3px 3px 5px #000;
		box-shadow: 3px 3px 5px #000;
}

.pieinfo {
		font-family: 'Shadows Into Light Two';
		font-size: 25px;
		background-color: rgba(176,196,157,.4);
		margin: .5em 2em 2em 2em;
		padding: 5px 10px 10px 10px;
		color: rgb(79,98,83);
		border-radius: 25px 25px 25px 25px;
}
.checkbox li {
		list-style: none;
}
.radio li {
		list-style: none;
}
/*.data {
		webkit-transition: background-color .75s ease;
		-moz-transition: background-color .75s ease;
		-o-transition: background-color .75s ease;
		transition: background-color .75s ease;
		
}*/
/*   ul[itemprop="recipeInstructions"]  {
		color: yellow;
		font-size: 14px;
		font-weight: bold;
		margin: 10em 0 5em 0;
		color: rgb(51,255,204);
		border: .5em ridge rgb(255,255,0);
		text-align: center;
}
*/



/*-------
close all tags
utilize semantic HTML when possible, when you need to use a more general <div>, use semantically appropriate ids and classes
avoid <br /> pretty much everywhere except the <address> tag
don't use embedded CSS
keep javascript in separate document(s)
validate
-------*/

/*-------
Layout: Apply a simple layout to your site. Don't worry too much about making it responsive; you will have two weeks to completely transform your layout into a responsive layout later in the semester. For this assignment I don't want you to spend too much time with positioning elements but rather to concentrate on visual cohesion and an integrated application of the following advanced CSS techniques.
-------*/

/*-------
Web Fonts: Add two web fonts to your site. For one, use the @font-face method as described in Lynda videos (both CSS: Core Concepts and CSS: Advanced Typography Techniques contain a description and instructions for using @fontface). For the other, use a font from Google Web Fonts (Links to an external site.). For design purposes, I do not recommend using more than two very different fonts in your design because it can lose cohesiveness if too many different fonts are vying for attention, however that decision is up to you.
-------*/

/*-------
Rounded Corners, Drop Shadows, Transparency, and Gradients: Add
rounded corners,
drop shadows,
transparency,
and gradients to your site design.
Drop shadows should be applied to both a text element and a containing element.
-------*/

/*-------
Overall Design: The above should be visible on every page. Each technique needs to be integrated into the overall design.
-------*/

/*-------
Transitions and Transformations:
Style one element with a transition,
one element with a transform,
and one element with both.
-------*/

/*-------
Modernizr: Add the Modernizr library to your student folder and use it to provide a backup style for at least two of the above so that your site design degrades nicely in browsers that do not support those styles. CSS: Advanced Typography Techniques contains instructions on downloading and configuring Modernizr.
-------*/